
.home {
background:url('/public/bg.jpg');/* Chemin relatif depuis le fichier CSS */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #11264f;
  height: 100vh;
  display: flex;
  
  
}

.welcome {
  color: white;
  /* font-size: 2rem; */
  font-weight: bold;
  margin-top: 210px;
  margin-left: 620px;
  font-family: roboto;
}
.pp{
    color: white;
    font-size: 45px;
}
.ItS{
    color: blue;
    font-size: 40px;
}
.main-h1{
    text-align: right;
    padding: 300px 300px 0 0;
    color: white;
    
}
.btn-quotes2{
  padding: 17px;
  width: 120px;
  font-size: 15px;
  background-color: #055FDE;
  color: white;
  border-radius: 30px;
  border: none;
  
}
.btn-started{
  padding: 17px;
  width: 120px;
  font-size: 15px;
  background-color: #055FDE;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  margin-left: 20px; 
}
.btn-main2{
margin-top: 20px;
  
}
.main-social-media{
display: flex;
gap: 2em;
margin-top: 50px;
}
.main-social-media a{
  color: #055FDE;
  font-size: 25px;
}

