.footer-content {
   background-image:/* linear-gradient(#0A2E6C, #0A2E6C),*/
                      url('/public/01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    
   
    padding: 40px 20px 20px;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.footer-brand {
  flex: 1 1 250px;
}

.footer-brand .footer-img {
  background-image: url('/public/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
}

.footer-brand p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  line-height: 1.5;
}

.footer-contact {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}
.footer-contact li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #ccc;
  font-size: 0.9rem;
}

.footer-contact li i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  color: #0059E8;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.footer-contact li i:hover {
  background-color: #0059E8;
  color: #fff;
}


.footer-column {
  flex: 1 1 180px;
}

.footer-column h2 {
  font-size: 1.1rem;
  margin-bottom: 12px;
  color: #00aaff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-column form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.footer-column button {
  padding: 10px;
  border: none;
  background: #0059e8;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.footer-column button:hover {
  background: #003ea6;
}

.social-icons {
  margin-top: 10px;
}

.footer-bottom {
  position: relative;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #ccc;
  font-size: 0.85rem;
}

.footer-bottom-icons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 6px;
  padding-right: 10px;
  padding-top: 2px; /* ajoute un petit espace entre la ligne et les icônes */
}


.footer-bottom-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
}
.example-2 .icon-content a {
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.example-2 .icon-content a svg {
  width: 16px;
  height: 16px;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-column, .footer-brand {
    text-align: center;
  }
}
